/** 
 * hackinbox widget style (CSS)
 * @author dvorichansky
 */

.hackinbox,
.hackinbox *,
.hackinbox-overlay {
    box-sizing: border-box !important;
    font-style: normal !important;
    text-transform: none !important;
    text-shadow: none !important;
    font-family: Arial, sans-serif !important;
}

.hackinbox {
    position: fixed;
    display: none;
    z-index: 2000000001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-wrap: normal;
    line-height: 1.22;
    border-radius: 8px;
}

@media (min-width: 1024px) {
    .hackinbox-container {
        display: flex;
    }
}

@media (max-width: 767px) {
    .hackinbox {
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .hackinbox {
        max-width: 310px;
    }
}

@media (max-width: 1023px) and (max-height: 420px) {
    .hackinbox {
        top: 20px;
        transform: translate(-50%, 0);
    }
}

/* hackinbox picture */
.hackinbox-picture__img {
    max-width: none;
    border-top-left-radius: 8px;
    margin: 0 !important;
    float: none !important;
}

@media (min-width: 1024px) {
    .hackinbox-picture {
        max-width: 650px;
        max-height: 500px;
        width: 100%;
    }

    .hackinbox-picture__img {
        border-bottom-left-radius: 8px;
    }
}

@media (max-width: 1023px) {
    .hackinbox-picture__img {
        max-width: 100%;
        border-top-right-radius: 8px;
    }
}

@media (max-width: 1023px) and (max-height: 420px) {
    .hackinbox-picture__img {
        display: none !important;
    }
}

/* hackinbox content */
.hackinbox-content {
    padding: 20px;
    background-color: #fff;
    border-bottom-right-radius: 8px;
}

.hackinbox-content__title {
    overflow: hidden;
    color: #040527;
}

@media (min-width: 1024px) {
    .hackinbox-content {
        width: 250px;
        border-top-right-radius: 8px;
    }

    .hackinbox-content__title {
        font-size: 16px;
        font-weight: 900;
        line-height: 20px;
    }
}

@media (max-width: 1023px) {
    .hackinbox-content {
        padding: 10px;
        border-bottom-left-radius: 8px;
    }

    .hackinbox-content__title {
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
    }
}

@media (max-width: 1023px) and (max-height: 420px) {
    .hackinbox-content {
        border-radius: 8px;
    }
}

/* hackinbox form */
.hackinbox-form {
    margin-top: 10px;
}

.hackinbox-form__input,
.hackinbox-form__button {
    display: block !important;
    width: 100% !important;
    border-radius: 4px !important;
    line-height: 16px !important;
}

.hackinbox-form__input {
    border: 1px solid #959595 !important;
    color: #291f1f !important;
    box-shadow: 0 1px 0 0 #d6d6d6 !important;
    padding: 8px 10px !important;
    min-width: 190px !important;
    height: auto !important;
    margin: 0 !important;
    font-size: 16px !important;
    background-color: #fff !important;
    font-weight: 500 !important;
}

.hackinbox-form__button {
    white-space: nowrap;
    overflow: hidden !important;
    color: #fff !important;
    font-size: 24px !important;
    background-color: #ccc;
    padding: 12px 0 !important;
    text-decoration: none !important;
    box-shadow: 0 3px 3px #8c8c8c !important;
    text-align: center !important;
    border: none !important;
    font-weight: 700 !important;
    height: auto !important;
    outline: none !important;
    margin: 15px 0 0 !important;
}

.hackinbox-form__button:hover {
    cursor: pointer;
}

.hackinbox-form__button:active {
    margin: 17px 0 -2px !important;
}

.hackinbox-form__button:disabled {
    cursor: default !important;
    position: relative !important;
    box-shadow: none !important;
    color: transparent !important;
}

.hackinbox-form__button:disabled:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: auto;
    font-size: 2px;
    text-indent: -9999em;
    border: 1.1em solid rgba(255, 255, 255, 0.3);
    border-left-style: solid;
    border-left-color: #fff;
    border-width: 3px;
    transform: translateZ(0);
    animation: hackinboxLoad 1.1s infinite linear;
}

@keyframes hackinboxLoad {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hackinbox-form__userphone-error {
    border-color: #ff6060 !important;
}

.hackinbox-form__userphone-error+.hackinbox-form__message-error {
    display: block;
}

.hackinbox-form__message-error {
    text-align: center;
    display: none;
    color: #ff6060;
    font-size: 11px;
    height: 0;
}

.hackinbox-form__button + .hackinbox-form__success {
    display: none;
}

.hackinbox-form__success-text {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #040527;
    font-weight: 900;
    margin-top: 20px;
}

@media (max-width: 1023px) {
    .hackinbox-form__success-text{
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
    }    
}

/* hackinbox counter */
.hackinbox-counter__title {
    text-align: center;
    margin: 10px 0 5px;
    font-weight: 500;
    font-size: 14px;
    color: #24263f;
}

.hackinbox-counter-clock {
    display: flex;
    justify-content: space-evenly;
}

.hackinbox-counter-clock__number {
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
    height: 50px;
    width: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.hackinbox-counter-clock__name {
    text-align: center;
    font-size: 10px;
    color: #24263f;
    font-weight: 400;
    line-height: 16px;
}

.hackinbox-counter-clock__dz {
    position: relative;
    width: 15px;
    height: 50px;
    visibility: visible;
    animation: hackinbox-counter-generator-blink 1s linear infinite;
}

.hackinbox-counter-clock__dz:before,
.hackinbox-counter-clock__dz:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background: #ccc;
    left: 50%;
    transform: translateX(-50%);
}

.hackinbox-counter-clock__dz:before {
    top: 31%;
}

.hackinbox-counter-clock__dz:after {
    bottom: 31%;
}

@keyframes hackinbox-counter-generator-blink {
    to {
        opacity: 0;
    }
}

@media (max-width: 1023px) {
    .hackinbox-counter {
        display: none;
    }
}

/* hackinbox close */
.hackinbox-close {
    position: absolute;
    top: 5px !important;
    right: 5px !important;
    color: #ccc;
    padding: 0;
    user-select: none;
    text-decoration: none !important;
    font-size: 34px !important;
    line-height: 20px;
}

.hackinbox-close:hover {
    cursor: pointer !important;
    color: #000 !important;
    text-decoration: none !important;
}

@media (max-width: 1023px) and (min-height: 420px) {
    .hackinbox-close {
        color: #fff;
    }
}

/* hackinbox overlay */
.hackinbox-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000000000;
}

/* hackinbox hide 'show' element */
.hackinbox-hide{
    display: none !important;
    visibility: hidden !important;
    overflow: hidden !important;
    z-index: -100 !important;
    opacity: 0 !important;
    height: 1px !important;
    width: 1px !important;
    left: -1px !important;
    top: -1px !important;
}